{% extends "base.html" %}
{% block body %}
    <h1 class="page-header">{{ title }}</h1>
    {% if state %}
        <div class="bs-callout bs-callout-{{ state }}">
            <h4><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> {{ slavename }} is in
                <b>{{ state }}</b>
                state.</h4>
        </div>
    {% endif %}
    {% if state %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Replica Set Overview</h3>
            </div>
            <div class="panel-body">
                <h4>Slaves</h4>
                <table class="table" width="100%">
                    <tr>
                        <td>
                            <div class="bs-callout bs-callout-{{ state }}">
                                <h4><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> mksuns11 - <b>
                                    {% if state=='degraded' %}UNKNOWN{% else %}ACTIVE{% endif %}</b>
                                </h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="bs-callout bs-callout-active">
                                <h4>mksuns49 - <b>ACTIVE</b>
                                </h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="bs-callout bs-callout-active">
                                <h4>mksuns50 - <b>ACTIVE</b>
                                </h4>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% if state %}Edit{% else %}New{% endif %} Replica Set</h3>
        </div>
        <div class="panel-body">
            <table width="100%">
                {% if not state %}
                    <tr>
                        <th>Replica set name</th>
                        <td colspan="2">
                            <input type="text" class="form-control" placeholder="replica set name"/>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Persistent nodes</th>
                    <td colspan="2">
                        <input type="number" class="form-control" value="1"/>
                    </td>
                </tr>
                <tr>
                    <th>Volatile nodes</th>
                    <td colspan="2">
                        <input type="number" class="form-control" value="2"/>
                    </td>
                </tr>
                <tr>
                    <th>Sharding configuration server
                    </th>
                    <td colspan="2">
                        <input type="checkbox" class="form-control {% if state %}disabled"
                               disabled{% else %}"{% endif %}/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <button type="submit"
                                class="btn btn-{% if state %}primary{% else %}success{% endif %} pull-right">
                            {% if state %}Apply{% else %}Create replica set{% endif %}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% if state %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Remove Replica Set</h3>
            </div>
            <div class="panel-body">
                <a href="#" role="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm_remove">Remove
                    replica set '{{ slavename }}' from system</a>
            </div>
        </div>


        <div class="modal fade" id="confirm_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Replica Set Deletion</h4>
                    </div>
                    <div class="modal-body">
                        You are about to delete the replica set {{ slavename }}. By doing so, all the data of this
                        replica set will be unrecoverably deleted.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Delete replica set {{ slavename }}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var url = window.location + "";
            idx = url.indexOf("#");
            var hash = idx != -1 ? url.substring(idx + 1) : "";
            if (hash == 'modal') {
                $('#confirm_remove').modal();
            }
        </script>
    {% endif %}
{% endblock %}