{% extends "base.html" %}
{% block body %}
    <h1 class="page-header">{{ title }}</h1>
    <h2 class="sub-header">Slaves</h2>
    <div class="bs-callout bs-callout-unknown">
        <h4>Slave <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> mksuns11 - <b>UNKNOWN</b></h4>
        <p>Slave mksuns11 is not reachable.
        </p>
    </div>
    <h2 class="sub-header">Replica sets</h2>
    <div class="bs-callout bs-callout-degraded">
        <h4>Replica set 'meterological_data' - <b>DEGRADED</b></h4>
        <p>Slave mksuns11 is not reachable.
        </p>
    </div>
{% endblock body %}