{% extends "base.html" %}
{% block body %}
    <h1 class="page-header">{{ title }}</h1>
    <h2 class="sub-header">Slaves
        <small><span class="label label-danger">1</span></small>
    </h2>
    <div class="bs-callout bs-callout-unknown">
        <h4>Slave '<a href="/slave/mksuns11/edit/unknown"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> mksuns11</a>' - <b>UNKNOWN</b></h4>
        <p>Slave mksuns11 is not reachable.
        </p>
    </div>
    <h2 class="sub-header">Replica sets
        <small><span class="label label-danger">1</span></small>
    </h2>
    <div class="bs-callout bs-callout-degraded">
        <h4>Replica set '<a href="/replicaset/meterological_data/edit/degraded">meterological_data</a>' - <b>DEGRADED</b></h4>
        <p>Slave mksuns11 is not reachable.
        </p>
    </div>
{% endblock body %}