{% extends "base.html" %}
{% block body %}
    <h1 class="page-header">{{ title }}</h1>
    <h2 class="sub-header">Degraded</h2>
    <div class="bs-callout bs-callout-unknown">
        <h4><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> meteorologic_data - <b>DEGRADED</b>
            <span class="pull-right">
                <a href="/replicaset/meteorologic_data/edit/degraded" class="btn btn-default"><span
                        class="glyphicon glyphicon-wrench"
                        aria-hidden="true"></span></a>
                </span>

        </h4>
        <p>Host <a href="/slave/mksuns11/edit/unknown">mksuns11</a> is not active.
        </p>
    </div>
    <h2 class="sub-header">Active</h2>
    <div class="bs-callout bs-callout-active">
        <h4><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> cern - <b>ACTIVE</b>
            <span class="pull-right">
                <a href="/replicaset/cern/edit/degraded" class="btn btn-default"><span
                        class="glyphicon glyphicon-wrench"
                        aria-hidden="true"></span></a>
                </span>

        </h4>
        </p>
    </div>
{% endblock body %}