{% extends "base.html" %}
{% block body %}
    <h1 class="page-header">{{ title }}</h1>
    <p>
        <small>Group your slaves into groups which share an common (physical) fault source to reduce replica set
            downtimes in case of a fault.
        </small>
    </p>
    <table width="100%">
        <tr><td><input type="text" placeholder="New Risk Group Name" class="form-control"/></td><td><button class="btn btn-success">Create</button></td></tr>
    </table>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        Assignable Slaves
                    </a><span data-toggle="tooltip" data-placement="right"
                              title="Slaves need to be in 'disabled' state to be assignable to a risk group."><span
                        class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group">
                    {% for s in unused %}
                        <li class="list-group-item">{{ s }}<span class="pull-right">Assign to
                            <select>
                                <option selected>Select group..</option>
                                <option>Cabinet A</option>
                                <option>Cabinet B</option>
                            </select>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <span class="pull-right"><button class="btn btn-danger" data-toggle="modal" data-target="#confirm_remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></span>
                <h4 class="panel-title" style="padding-top: 7px;">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Cabinet A
                    </a>
                </h4>
                <span class="clearfix"></span>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <ul class="list-group">
                    {% for s in cabA %}
                        <li class="list-group-item">{{ s }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <span class="pull-right"><button class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></span>
                <h4 class="panel-title" style="padding-top: 7px;">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Cabinet B
                    </a>
                </h4>
                <span class="clearfix"></span>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <ul class="list-group">
                    <li class="list-group-item">
                        mksuns11
                    </li>
                    {% for s in cabB %}
                        <li class="list-group-item">{{ s }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="modal fade" id="confirm_remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Risk Group Removal</h4>
                    </div>
                    <div class="modal-body">
                        You are about to remove the risk group Cabinet A.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Remove Risk Group Cabinet A</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    <script>
            var url = window.location + "";
            idx = url.indexOf("#");
            var hash = idx != -1 ? url.substring(idx + 1) : "";
            if (hash == 'modal') {
                $('#confirm_remove').modal();
            }
        </script>
{% endblock body %}